body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.player {
    width: 150px;
    height: 25px;
    position: absolute;
    border-radius: 20px;
    margin-left: 45%;
    border: 2px solid black;
    text-align: center;
}

#top-player {
    top: 0px;
    background-color: blue;
}

#bottom-player {
    bottom: 0px;
    background-color: blueviolet;
}

#ball {
    height: 30px;
    width: 30px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    /*margin-left: 45%;*/
    left: 50%;
    position: absolute;
    top: 50%;
}